header .header-top .col-md-6:last-child {
    text-align: left !important;
}
.navbar-brand {
    margin-right: 0px !important; 
}
.dropdown-item{
    text-align: right !important;
}
footer ul li a i {
    margin-left: 3px;
}
footer ul.contact li i {
    margin: 0px 10px 0px 5px;
}
.contact-us li i {
    margin-left: 15px;
}
.contact-us input, textarea{
    text-align: right !important;
}
.contact-us form .input-data label {
    right: 10px;
}
.serv-details li i {
    margin-left: 3px;
}